
.post-snippet{
    display:flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: row;
    gap:1rem;
    margin-bottom: 5rem;
    text-align: justify;
}
.list-feature{
    max-width: 200px;
    object-fit: cover;
    flex:1;
}
.list-summary > h2{
margin-top:0;
}
.list-summary{
flex:3;
}


@media only screen and (max-width: 600px) {
.list-feature{
    width:100%;
    max-width:100%;
    max-height: 300px;
}
.list-summary{
    width:100%;
    min-width: 300px;
}

} 