<div id="main-article" class="article">{{ .Inner }}</div>
<script>
window.addEventListener('DOMContentLoaded', function() {
    var isJapanese = false;
    var continueText = " continued on the next page...";
    if ( document.documentElement.lang === "ja")
    {
        isJapanese = true;
        continueText = "続きは次のページ。。。";
    }
    
    var mainArticle = document.getElementById("main-article");
    var text = mainArticle.innerHTML;
    text = text.replace(/\n/g,"{NEW_LINE}");
    var textChunks = "";
    if(isJapanese)
    {
        // textChunks = text.match(/\S.{1,200}(?=\s|$)/g);
        textChunks = text.match(/\S.{1,200}(?<=\。|$)/g);
    }
    else
    {
        textChunks = text.match(/\S.{1,600}(?=\s|$)/g);
    }
   
    // console.log(textChunks);
    mainArticle.innerHTML = textChunks[0].replace(/{NEW_LINE}/g,"\n");
    
    var mainArticleContinued = ""
    for (let i = 1; i < textChunks.length; i++)
    {
        mainArticleContinued += textChunks[i].replace(/{NEW_LINE}/g,"\n") + " ";
    }
    var contNode = document.createTextNode(mainArticleContinued);
    document.getElementById("main-article-cont").appendChild(contNode);
    var continueNode = document.createElement("EM");
    var contText = document.createTextNode(continueText);
    continueNode.appendChild(contText);
    mainArticle.append(continueNode);


});

</script>